<!-- <p>new-list works!</p> -->
<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new list
    </h1>
    <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter list name... ">
    <br> <br> <br>
    <div class="buttons is-right">
      <button class="button is-right" routerLink='/'>Cancel</button>
      <button class="button is-primary is-right has-text-white" (click)="createList(listTitleInput.value)">Create</button>
    </div>
  </div>
</div>
